$fontFamily: "Courier New", Courier, monospace;
$mainColor: rgba(124, 14, 124, 0.658);
$mainColorUpWindow:rgba(124, 14, 124, 0.952);
$mainBoxShadow:  0px 8px  20px 2px gold;
$bg:#1a1f25;
$button:#e6b333;
$border:#22272d;

*{
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
}


body {
  min-height: 100vh;
  background-image: url(/style/IMG/island-night-moon-scenery-digital-art-2k-wallpaper-uhdpaper.com-289@0@j.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $button;
  
}

input{
  outline: none;
}
 

input::placeholder{
  padding-left: 5px;
  color:rgba(250, 235, 215, 0.651);
}





//////////////////////////////


// .button_registr{

// }

.wrap_registr_form {
width:380px;
height: 400px;
transition: 0.5s all ;
background-color: #1a1f25bb;
}


.wrap_registr_form.active{
  margin: 15px;
  transition: 0.5s all ;
}



.position_registration_window{
  top: 20px;
  position: relative;
}






.Heading_regisr_form{
  bottom: 5px;
  display: flex;
  position: relative;
  justify-content: center;
}

.wrap_input_registr{
  left: 15px;
  top: 10px;
  border: none;
  display: inline;
  position: relative;
  background-color: #1a1f2500;


}



.login{
  border: none;
  color: $button;
  margin-bottom: 8px;
  background-color:rgba(250, 235, 215, 0.137);
  &:focus{
    transition: 1s all;
    box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
     1px 2px 4px 0px rgba(0,255,255,0.7),
     2px 4px 8px 0px rgba(0,255,255,0.7),
     2px 4px 16px 0px rgba(0,255,255,0.7);
  }
}

.login.active_red{
  color: rgba(255, 0, 0, 0.7);
  &:focus{
    transition: 1s all;
    color: rgba(255, 0, 0, 0.7);
    box-shadow: 0px 1px 2px 0px rgba(255, 0, 0, 0.7),
     1px 2px 4px 0px  rgba(255, 0, 0, 0.7),
     2px 4px 8px 0px  rgba(255, 0, 0, 0.7),
     2px 4px 16px 0px  rgba(255, 0, 0, 0.7);
  }
}


.login.active_green{
  color: rgba(102, 255, 0, 0.7);
  &:focus{
    transition: 1s all;
    color: rgba(102, 255, 0, 0.7);
    box-shadow: 0px 1px 2px 0px rgba(102, 255, 0, 0.7),
     1px 2px 4px 0px rgba(102, 255, 0, 0.7),
     2px 4px 8px 0px rgba(102, 255, 0, 0.7),
     2px 4px 16px 0px rgba(102, 255, 0, 0.7);
  }

}




.password{
  border: none;
  color: $button;
  margin-bottom: 8px;
  background-color:rgba(250, 235, 215, 0.137);
  &:focus{
    transition: 1s all;
    box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
    1px 2px 4px 0px rgba(0,255,255,0.7),
    2px 4px 8px 0px rgba(0,255,255,0.7),
    2px 4px 16px 0px rgba(0,255,255,0.7);
    // box-shadow: 0px 1px 2px 0px gold,
    // 1px 2px 4px 0px gold,
    // 2px 4px 8px 0px gold,
    //  2px 4px 16px 0px gold;
 }
}


.password.active_red{
  color: rgba(255, 0, 0, 0.7);
  &:focus{
   color: rgba(255, 0, 0, 0.7);
    transition: 1s all;
    box-shadow: 0px 1px 2px 0px rgba(255, 0, 0, 0.7),
     1px 2px 4px 0px  rgba(255, 0, 0, 0.7),
     2px 4px 8px 0px  rgba(255, 0, 0, 0.7),
     2px 4px 16px 0px  rgba(255, 0, 0, 0.7);
  }

}

.password.active_green{
  color: rgba(102, 255, 0, 0.7);
  &:focus{
    transition: 1s all;
    color: rgba(102, 255, 0, 0.7);
    box-shadow: 0px 1px 2px 0px rgba(102, 255, 0, 0.7),
     1px 2px 4px 0px rgba(102, 255, 0, 0.7),
     2px 4px 8px 0px rgba(102, 255, 0, 0.7),
     2px 4px 16px 0px rgba(102, 255, 0, 0.7);
  }
}


.mail{
  border: none;
  color: $button;
  background-color:rgba(250, 235, 215, 0.137);
  &:focus{
    box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
    1px 2px 4px 0px rgba(0,255,255,0.7),
    2px 4px 8px 0px rgba(0,255,255,0.7),
     2px 4px 16px 0px rgba(0,255,255,0.7);
 }
}


// .close_eye{
//   width: 20px;
//   height: 20px;
//   cursor: pointer;
//   border: none;
// }

.registration_window_warning.active{
  img{
    display: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    
         
   }
}







.wrap_input_registr_login{
  display: flex;
 img{
   margin-right: 5px;
   width: 16px;
   height: 16px;
   border: 1px solid rgba(248, 248, 248, 0.705);
 }
} 




.wrap_input_registr_password{
  display: flex;



  .close_eye_password{
    width: 13px;
    height: 13px;
    border: none;
    margin: 1px  -15px;
    border-radius: 3px;
    cursor: pointer;
  }
  .open_eye_password{
    width: 13px;
    height: 13px;
    border: none;
    margin: 1px  -15px;
    border-radius: 3px;
    cursor: pointer;
    display: none;

   
  }

 img{
   margin-right: 5px;
   width: 16px;
   height: 16px;
   border: 1px solid rgba(248, 248, 248, 0.705);
 }
 }


 .close_eye_password.active{
  display: none;
  transition: 0.5s all;

 }
 .open_eye_password.active{
  display: block;
  transition: 0.5s all;

 }





.wrap_input_registr_mail{
  display: flex;
 img{
   margin-right: 5px;
   width: 16px;
   height: 16px;
   border: 1px solid rgba(248, 248, 248, 0.705);
 }
 }


.wrap_button_lo_and_registr{
  display: flex;
  margin-top: 10px;
  margin-right: 40px;
  align-items: center;
  justify-content: center;

  button{
  cursor: pointer;
  margin-left: 3px;
  color: $button;
  margin-right: 5px;
  padding: 2px;
  background-color:rgba(250, 235, 215, 0.068);

  &:hover{
  background-color:rgba(250, 235, 215, 0.233);
  }
  a{
    color: $button;
    text-decoration: none;
    background-color:rgba(0, 0, 0, 0.068);
  }
  }
  }



.restore_password_and_toComeIn{
  top: 20px;
  height: 50px;
  position: relative;
  margin-right: 10px;
  color: rgba(248, 248, 248, 0.705);
  span{
    color: $button;
  }

  h5{
    margin: 0px;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.5s all;

    &:hover {
      color: $button;
      font-weight: normal;
      transform: scale(1.1);
      transition: 0.5s all;
    }
  }
  a{
    color: $button;
    text-decoration:none;
    transition: 0.5s all;

    &:hover{
      color: gold;
      transition: 0.5s all;
    }
  }
}



.forgot_your_password_mail{
     display: none;
 img{
   margin-right: 5px;
   width: 16px;
   height: 16px;
   border: 1px solid rgba(248, 248, 248, 0.705);
 }
 }
.forgot_your_password_mail.active{
  height: 18px; ;
  display:flex;
 
 
}

.button_remove_vanich_mail{
  border: none;
  width: 40px;
  height: 18px;
  padding: 1px;
  color: $button;
  margin-left: 2px;
  margin-bottom: 8px;
  background-color:rgba(250, 235, 215, 0.137);
  &:hover{
    cursor: pointer;;
    background-color:rgba(248, 5, 5, 0.295);
  }
}

.forgot_password{
top: 5px;
display: flex;
position: relative;
align-items: center;
justify-content: center;
}

.vanich_forgot_password_id.active{
  display: none;
}

.button_remove_vanich{
  margin-left: 2px;
}

.login_using{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  
}


.wrap_zone_login_using{
  top: 20px;
  opacity: 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  
  a{
    visibility: hidden;
    margin-left: 20px;

    
    img{
      width: 30px;
      height: 30px;
      transition: 0.3s all;

      &:hover{
        transition: 0.3s all;
        transform: scale(1.2);
      }    
    }

  }
}

.wrap_zone_login_using.active{
  opacity: 1;
a{
  visibility: visible;
}
}

.wrap_zone_login_using.vanich{
  animation: vanich 7s ease forwards;
}


@keyframes vanichTelegram{
  from {
  opacity: 1;
  top: 1px;
  position: relative;
  visibility: visible;
  }
  to{
  opacity: 0;
  top: 80px;
  position: relative;
  visibility: hidden;
  }
  }
  

  @keyframes vanichInstagram{
    from {
    opacity: 1;
    top: 1px;
    position: relative;
    visibility: visible;
    }
    to{
    opacity: 0;
    top: 80px;
    position: relative;
    visibility: hidden;
    }
    }

    @keyframes vanichTwitter{
      from {
      opacity: 1;
      top: 1px;
      position: relative;
      visibility: visible;
      }
      to{
      opacity: 0;
      top: 80px;
      position: relative;
      visibility: hidden;
      }
      }

@keyframes vanich{
from {
opacity: 1;
top: 20px;
visibility: visible;
}
to{
opacity: 0;
top: 80px;
visibility: hidden;
}
}


.telegram.active{
  animation: vanichTelegram 3s ease forwards;
}

.instagram.active{
  animation: vanichInstagram 4s ease forwards;
}
.twitter.active{
  animation: vanichTwitter 6s ease forwards;
}



.foter_form_regist_window{
  left: 10px;
  top: 205px;
  font-size:small;
  position: relative;
  color: rgba(248, 248, 248, 0.705) ;
}

.remember_data{
  left: 50px;
  bottom: 20px;
  position: relative;
  // a{
  //   left: 70px;
  //   bottom: 3px;
  //   color: $button;
  //   position: relative;
  //   text-decoration: none;
  //   &:hover{
  //     color:  gold;
  //   }
  // }
}

.foter_form_regist{
  display: flex;
  cursor: pointer;
  max-width: 40px;
  min-height: 18px;
  align-items: center;
  transition: 0.3s all;
  justify-content: center;
  border: 1px solid   rgba(255, 0, 0, 0.7);
  box-shadow: 0px 1px 2px 0px  rgba(255, 0, 0, 0.7),
  1px 2px 4px 0px  rgba(255, 0, 0, 0.7);



  &:hover{
    transition: 0.3s all;
    backdrop-filter:blur(10px);
  }

  img{
    width: 10px;
    height: 10px;
    }
  
  .check_mark{
    z-index: 1;
    left: 15px;
    display: flex;
    position: relative;
  }
  .cross{
    z-index: 1;
    left: 4px;
    display: flex;
    position: relative;
    justify-content: right;
  }
}

.foter_form_regist.active{
  transition: 0.3s all;
  border: 1px solid   rgba(102, 255, 0, 0.7);
  box-shadow: 0px 1px 2px 0px rgb(21, 255, 0),
     1px 2px 4px 0px rgb(21, 255, 0),
   

}

.foter_form_regist_window:hover .content_footer{}

.content_footer{
 z-index: 5;
 width: 10px;
 height: 10px;
 display: flex;
 right:  21px ; ////////
 margin-left: 5px;
 margin-right: 5px;
 border-radius: 10px;
 position: relative;
 transition: 0.5s all;
 background-color: rgb(245, 4, 4);
}

.content_footer.yes{
  right: 0;
  background-color: rgb(21, 255, 0);
  }

  

//////////////////////////////


.line_top{
width: 55px;
height: 1px;
bottom: 208px;
left: 50px;
position: relative;
box-shadow: $mainBoxShadow;
transition: 0.2s all;  
background-color: gold;
}



.line_left{
  width: 1px;
  height: 55px;
  bottom: 180px;
  margin-right: -47px;
  position: relative;
  box-shadow: $mainBoxShadow;
  transition: 0.2s all;  
  background-color: gold;
  
}

.line_right{
  width: 1px;
  height: 55px;
  bottom: -175px;
  margin-left: -50px;
  position: relative;
  box-shadow: $mainBoxShadow;
  transition: 0.2s all;  
  background-color: gold;
}

  .line_bottom{
    width: 55px;
    height: 1px;
    bottom: -205px;
    left: -50px;
    position: relative;
    box-shadow: $mainBoxShadow;
    transition: 0.2s all;  
    background-color: gold;
  }
    
